.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    color: white;
    font-size: 20px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    margin-right: 5px;
}

.search-bar button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

.wallpaper {
  width:100%;
  position: relative;
  margin: auto;
  text-align: center;
  color: white;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Brush Script MT', cursive;
  font-size : 150px;
	
}

.recipies {
  width:100%;
  position: relative;
  margin: auto;
  text-align: center;
  color: black;
  
}

.res_text{
  position: absolute;
  align :center;
  margin:auto;
  transform: translate(-50%, -50%);
  font-family:'Brush Script MT', cursive;
  font-size : 70px;
}

.font-effect-shadow-multiple{
  font-family: "Sofia", sans-serif;
  font-size:50px;
}

.about{
  font-family: Lora, serif;
  font-size: 22px;
  color:#444a52;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container {
    display: flex;
}

.box {
    flex: 1;
    width:25%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    padding:30px;
    margin : 0 auto;
}

#box1 {
    background-image: url('dpizza.jpg'); /* Replace with your image URL */
    
}

#box2 {
    background-image: url('vpizza.jpg'); /* Replace with your image URL */
}

#box3 {
    background-image: url('wpizza.jpg'); /* Replace with your image URL */
}

h1 {
    margin-top: 20px; /* Adjust the margin as needed */
    color: white;
}
.box:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay on hover */
}



#box6 {
    background-image: url('donut.jpg'); /* Replace with your image URL */
}

.food {
    position: absolute;
    text-align:center;
    margin-bottom:10px;
    
}
 