

.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    color: white;
    font-size: 20px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    margin-right: 5px;
}

.search-bar button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

.wallpaper {
  width:100%;
  position: relative;
  margin: auto;
  text-align: center;
  color: white;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Brush Script MT', cursive;
  font-size : 150px;
	
}

.recipies {
  width:100%;
  position: relative;
  margin: auto;
  text-align: center;
  color: black;
  
}

.font-effect-shadow-multiple{
  font-family: "Sofia", sans-serif;
  font-size:50px;
}

.ingrediants{
  text-align : center;
  padding :20px;
  border: 1px solid grey;
  border-radius : 15px;
  width:70%;
  margin-left :170px;
  display: flex;
  flex-direction: column;
  
}

.topic{
    text-align:center;
    border-radius : 20px; 
    background-color : #a2b2b8;
    width : 300px;
    height : 50px;
    margin:auto;
    color:white;
    font-size:30px;
    padding-top:5px;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container {
    display: flex;
    width:100%;
}

.box {
    width:50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#box1{
  align-items : flex-end;
  text-align:right;
  padding-right : 100px;
}

#box2{
  align-items : flex-start;
  padding-left : 100px;
  text-align : left;
}

.amount{
  color : black;
  font-size:22px;
  font-weight : bold;
}

.goods{
  color : black;
  font-size:22px;
  
}